@charset "utf-8";
/* $PARAM_WIDGET_ALIAS */
.widgetCounter{font-size:12px;margin:0;line-height:1.4;color:#333}
.widgetCounter:after{content:"";display:block;clear:both}
.widgetCounter dt{float:left;clear:left;margin:0 4px 0 0}
.widgetCounter dd{margin:0}
.browser-counter { text-align: right; width: 8em; }
.counter-totals TD, .counter-totals TH { border-top: 1px solid black }
